@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ตั้งค่าพื้นฐาน */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}

* {
  box-sizing: border-box;
}

.MuiButton-contained {
  background-color: orange;
}

.MuiButton-outlined {
  color: orange;
  border-color: orange;
}

.MuiButton-outlined:hover {
  background-color: rgba(255, 165, 0, 0.1);
}
